* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
body {
    background-color: black;
    color: white;
    
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  margin: 0 auto;
  
}
.app > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.painel-esquerdo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.painel-direito {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre o Formulário e a Listagem */
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
  
}