.h2 {
    background-color: rgba(248, 0, 0, 1);
    padding: 50px;
    align-content: center;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 15px rgba(6, 184, 169, 0.3);
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    font-size: 30px;
}
